apiVersion: apps/v1
kind: Deployment
metadata:
  name: task-service
  namespace: dev # isolated environment
spec:
  replicas: 1 # number of pods
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 25%
  selector:
    matchLabels:
      app: task-service
  template:
    metadata:
      labels:
        app: task-service
    spec:
      containers:
        - name: task-service
          image: 964474461010.dkr.ecr.ap-south-1.amazonaws.com/microservices-backend:task-service
          ports:
            - containerPort: 8001
          envFrom:
            - configMapRef:
                name: task-service-config # your ConfigMap
            - secretRef:
                name: task-service-secret # your Secret
