apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-service
  namespace: dev # isolated environment
spec:
  replicas: 1 # number of pods
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 25%
  selector:
    matchLabels:
      app: user-service
  template:
    metadata:
      labels:
        app: user-service
    spec:
      containers:
        - name: user-service
          image: 964474461010.dkr.ecr.ap-south-1.amazonaws.com/microservices-backend:user-service
          ports:
            - containerPort: 8000
          envFrom:
            - configMapRef:
                name: user-service-config # your ConfigMap
            - secretRef:
                name: user-service-secret # your Secret
