apiVersion: apps/v1
kind: Deployment
metadata:
  name: job-service
  namespace: dev
spec:
  replicas: 1
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 25%
  selector:
    matchLabels:
      app: job-service
  template:
    metadata:
      labels:
        app: job-service
    spec:
      containers:
        - name: job-service
          image: 964474461010.dkr.ecr.ap-south-1.amazonaws.com/microservices-backend:job-service
          ports:
            - containerPort: 8002
          envFrom:
            - configMapRef:
                name: job-service-config
            - secretRef:
                name: job-service-secret
